@using WebMedia.Models
@model NguoiDung
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="~/Content/dangnhap.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>
<body>
   
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 logo">
                    <img src="~/Images/LUON 21.2 WHITE-04.png" alt="">
                </div>
                <div class="col-lg-12 login-form">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-lg-12 login-form">
                            <form>
                                <div class="form-group">
                                    <label class="form-control-label">Tên tài khoản</label>
                                    @Html.TextBoxFor(m => m.TaiKhoan, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.TaiKhoan, "", new { @class = "text-danger" })
                                    @*
            <input type="text" class="form-control">*@
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Mật khẩu</label>
                                    @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.MatKhau, "", new { @class = "text-danger" })
                                    @*<input type="password" class="form-control" i>*@
                                </div>
                                @if (!string.IsNullOrEmpty(ViewBag.Message))
                                {
                                    <div style="color : red">@ViewBag.Message</div>
                                }
                                @*
                                <div class="col-lg-12 loginbttm">
                                    <div class="col-lg-6 login-btm login-text">
                                        <!-- Error Message -->
                                    </div>
                                    <div class="col-lg-6 login-btm login-button">
                                        <button type="submit" class="btn btn-outline-primary">Đăng nhập</button>
                                    </div>
                                </div>*@
                                <div class="col-lg-12 loginbttm">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-8 login-btm login-button">
                                        <button type="submit" class="btn btn-outline-primary btn-center">Đăng nhập</button>
                                    </div>
                                </div>
                                <div class="col-lg-12 logtext">
                                    <div class="col-lg-5"></div>
                                    <div class="col-lg-7 login-text-or">
                                        Or
                                    </div>
                                </div>
                                <div class="logtext" style="align-items : center; text-align : center">
                                    <!-- <div class="col-lg-3"></div> -->
                                        @Html.ActionLink("Đăng ký", "DangKy", null, new {@class = "login-text" })
                                </div>
                            </form>
                        </div>
                    }
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>
    </div>
</body>
</html>
